.purple-adds {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #603e97;
  > img {
    width: 180px;
  }
}
.transfer-main {
  margin-top: 65px;
  margin-bottom: 65px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include respond-below(md) {
    grid-template-columns: 1fr;
  }
}
.transfer-map {
  @include respond-below(md) {
    order: 2;
  }
  &__map {
    position: relative;
    @include respond-below(md) {
      display: none;
    }
  }
  .map-info {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color__bright;
    display: flex;
    padding: 0px 15px;
    @include respond-below(sm) {
      position: relative;
      padding-top: 10px;
    }

    &__item {
      min-width: 160px;
      display: flex;
      align-items: center;
      margin-right: 10px;
      border-right: 1px solid lightgray;
      @include respond-below(xs) {
        min-width: 80px;
        border-right: none;
      }

      &:last-of-type {
        border-right: none;
        margin-right: 0px;
        margin-left: 10px;
      }
      &:nth-last-of-type(2) {
        margin-left: 10px;
      }
    }
    &__info {
      margin-left: 8px;
      @include respond-below(sm) {
        margin-left: 0px;
      }
      > h4 {
        font-family: $text__fontname;
        color: $color__grey;
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
    &__icon {
      @include respond-below(sm) {
        display: none;
      }
    }
  }

  .transfer-map__highlights {
    margin-top: 30px;
    > h3 {
      font-family: $text__fontname;
      margin-bottom: 10px;
    }
  }
  .highlights-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 15px;
    row-gap: 30px;
    column-gap: 20px;
    @include respond-below(xs) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .highlights-item {
    display: flex;
    align-items: center;
    > p {
      color: $color__grey;
      font-size: 14px;
      margin-left: 4px;
    }
    svg {
      min-height: 40px;
      min-width: 40px;
    }
  }
}

.transfer-info {
  @include respond-below(md) {
    order: 1;
  }
  &__container {
    padding: 0px 0px 0px 50px;
    @include respond-below(md) {
      padding: 0px 0px 60px 0px;
    }
    > a {
      text-decoration: underline;
    }
    .btn-wrapper {
      .btn {
        border: none;
        width: 100%;
      }
    }
  }
  &__image-mobile {
    margin-top: 20px;
    @include respond-above(md) {
      display: none;
    }
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  .more-stop {
    margin-top: 10px;
    display: none;
    &-active {
      display: block;
    }
    label {
      font-family: $header__fontname;
    }
    input {
      min-height: 50px;
      border: 1px solid #eaecee;
      border-radius: 5px;
      padding-left: 10px;
      width: 100%;
    }
  }
  &-multi {
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    .date,
    .time {
      display: flex;
      flex-direction: column;
      width: 48%;
      input {
        min-height: 50px;
        border: 1px solid $color__light-grey;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
      }
      > label {
        font-weight: bold;
        margin-bottom: 6px;
      }
    }
    .date {
      margin-right: 1%;
    }
    .time {
      width: 50%;
      select {
        padding-left: 10px;
        border: none;
        border: 1px solid $color__light-grey;
        border-radius: 5px;
        min-height: 50px;
        width: 48%;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12.728' height='6.364' viewBox='0 0 12.728 6.364'%3E%3Cpath id='Path_782' data-name='Path 782' d='M803.324,49.98l-6.364,6.364L790.6,49.98Z' transform='translate(-790.596 -49.98)' fill='%2304141c'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position-x: 93%;
        background-position-y: 50%;
        padding-right: 13px;
        &:first-of-type {
          margin-right: 1%;
        }
      }
    }
  }
  &__toggle {
    flex-direction: row;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: 5px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &::after {
      display: none;
    }
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $color__main;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $color__main;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
    border-color: none;
  }
  > label {
    font-weight: bold;
    margin-bottom: 6px;
  }
  > input {
    min-height: 50px;
    border: 1px solid $color__light-grey;
    border-radius: 5px;
    padding-left: 10px;
  }
  .switch input:checked + span::before {
    border-color: $color__grey;
  }
  .addStop {
    text-align: right;
    margin-top: 7px;
    > p {
      font-size: 15px;
      color: $color__main;
      display: inline;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      svg {
        position: relative;
        top: 4px;
      }
    }
  }
}

.form-group-return {
  display: none;
  &-active {
    display: flex;
  }
}

// Live banner
.electric_wrapper {
  background: #EAECEE;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 5vh auto;
  @include respond-below(md) {
    width: 100%;
    flex-wrap: wrap;
  }
  @include respond-below(sm) {
    height: 100%;
  }
}
.electric_inner {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  @include respond-below(sm) {
    grid-template-columns: 1fr;
  }
}
.electric_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  @include respond-below(sm) {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .miles_block,
  .co2_block {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  span {
    color: #575A5C;
    margin-left: 5px;
    font-size: 0.8rem;
  }
  p {
    font-size: 0.8rem;
    color: #575A5C;
  }
  .miles_top {
    display: flex;
    align-items: flex-end;
  }
  .co2_top {
    @extend.miles_top;
  }
  .electric_line {
    height: 1px;
    width: 60%;
    background: black;
    margin: 2rem 0;
    @include respond-below(sm) {
      width: 2px;
      height: 50px;
      margin: 0 2rem;
    }
  }
}
.electric_right {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  @include respond-below(sm) {
    width: 100%;
    h3 {
      font-size: 1rem;
      line-height: 1.2;
    }
  }
  h3 {
    color: #575A5C;
    margin-bottom: 1rem;
  }
  .h3-black {
    color: #000;
  }
}

.live {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  p {
    font-size: 12px;
    margin-left: 4px;
  }
}
.dot {
  position: relative;
  height: 10px;
  width: 10px;
  border: 1px solid #575A5C;
  border-radius: 50%;

}
.dot:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #575A5C;
  animation: pulse 1s infinite;
  transform-origin: center center;

}

// accrodion

.more-info {
  margin-top: 60px;
  background-color: #fbfbfb;
  padding: 50px 0px;
  width: 100%;
  .accordion-inner {
    > h3 {
      text-align: center;
      margin-bottom: 30px;
      @include respond-below(md) {
        font-size: 21px;
      }
    }
  }
}


